In [7]:
"""Q1.write a program to accept percentage from the user and display grades according to the following criteria
    Marks           Grade
    >90              A
    >80 and <=90     B
    >=60 and <=80    C
    below 60         D                                            """

'Q1.write a program to accept percentage from the user and display grades according to the following criteria\n    Marks           Grade\n    >90              A\n    >80 and <=90     B\n    >=60 and <=80    C\n    below 60         D                                            '

In [11]:
marks=int(input("Enter your Marks"))
if marks >90:
    print("You got 'A' Grade")
elif marks >80 and marks <=90:
    print("You got 'B' Grade")
elif marks >=60 and marks <=80:
    print("You got 'C' Grade")
else:
    print("You got 'D' Grade")

Enter your Marks 75

You got 'C' Grade

In [ ]:
Q2.Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria
TAX            Cost Price(in Rs)
15%              >100000
10%              >50000 and <=100000
5%               <=50000

In [12]:
cost_Price=float(input("Enter cost of bike"))
if cost_Price >100000:
    road_tax=cost_Price*0.15
elif cost_Price>50000 and cost_Price<=100000:
    road_tax=cost_Price*0.10
else:
    road_tax=cost_Price*0.05
print(road_tax," to be paid")

Enter cost of bike 200000

30000.0  to be paid

In [ ]:
Q3.Accept any city from the user and display monuments of that city.
City                Monuments
Delhi                Red Fort
Agra                 Taj Mahal
Jaipur               Jal Mahal

In [16]:
city=input("Enter the name of city")
if city=="Delhi":
    print("Monument of the Delho city is 'Red Fort'")
elif city=="Agra":
    print("Monument of the Agra city is 'Taj Mahal'")
elif city=="Jaipur":
    print("Monument of the Jaipur city is 'Jal Mahal'")
else:
    print("Please,Enter name from Delhi,Agra,Jaipur")

Enter the name of city Nagpur

Please,Enter name from Delhi,Agra,Jaipur

In [ ]:
Q.4Check How many times a given number can be divided by 3 before it is less than or equal to 10

In [ ]:
number=int(input("Enter Number"))
count=0
while number>10:
    number=number/3
    count+=1
print("the no can be divided by 3",count,"times")

In [ ]:
Q5.Why and whem to use while loop in python give a detailed description with example

In [ ]:
"""The while loop in Python is used to repeatedly execute a block of code as long as a specified condition is met. 
The condition is evaluated before each iteration of the loop, and if the condition is True, the loop will continue
to execute. If the condition is False, the loop will terminate and control will be passed to the next statement after
the loop.

Here is a basic example of using a while loop in Python:"""
count = 1

while count <= 5:
    print(count)
    count += 1

print("Loop finished.")

In [ ]:
Q7,8=Reverse a 'while' loop to display number from 10 to 1

In [3]:
num=10
while num>=1:
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1